@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #333333;
  --primary: #d91e36; /* RaceBox Red */
  --highlight: #65c466; /* Success Green */
  --card-bg: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-highlight: var(--highlight);
  --color-card-bg: var(--card-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
